.offer {
  display: flex;
  align-items: center;
  padding: 80px 0 80px;
}

.offer__content {
  margin-left: 100px;
}

.offer__title {
  font-size: 36px;
}

.offer__discription {
  margin-top: 24px;
  max-width: 584px;
}

.offer__discription1 {
  margin-top: 16px;
  max-width: 584px;
}

.offer__button {
  margin-top: 32px;
}

.offer__image {
  order: -1;
}
