.reservation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 88px;
}

.reservation__title {
  margin-bottom: 24px;
}

.reservation__description {
  margin-bottom: 32px;
  max-width: 588px;
  text-align: center;
}

.reservation__cards-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33.33%;
  margin: 0 -12px;
  padding-bottom: 80px;
}

.reservation__room-card {
  margin: 0 12px;
}
