.reviews {
  padding: 80px 16px;
}

.reviews__customers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews__title {
  font-size: 36px;
  line-height: 54px;
}

.reviews__image {
  margin-top: 62px;
}

.reviews__discription {
  margin-top: 44px;
  text-align: center;
  width: 793px;
}

.reviews__user {
  margin-top: 40px;
  font-size: 20px;
  color: #192252;
}

.pagination {
  margin-top: 24px;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(250, 176, 71, 0.35);
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: middle;
}

.dot-active {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #fab047;
  border-radius: 50%;
  margin-right: 12px;
}
