.room-card {
  max-width: 400px;
}

.room-card__image {
  display: block;
  width: 100%;
  height: 489px;
  border-radius: 4px;
  margin-bottom: 32px;
  object-fit: cover;
  object-position: center;
}

.room-card__title {
  font-size: 24px;
  color: black;
  margin-bottom: 16px;
}

.room-card__description {
  margin-bottom: 32px;
}
