* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  line-height: 150%;
  color: #192252;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.arrow-right {
  display: inline-block;
  background: url("../image/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
}
